<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="remus_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="KUKAKR210System" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>kuka_kr210_hardware_interface/KUKAKR210System</plugin>

                <!-- Use custom KUKA hardware controller -->
                <!--<plugin>ros2_control_python/hardware_interface</plugin>
                <param name="python_class">kuka_hw_controller.KukaHWInterface</param> -->
            </hardware>
            <joint name="remus_joint_a1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['remus_joint_a1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="remus_joint_a2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['remus_joint_a2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="remus_joint_a3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['remus_joint_a3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="remus_joint_a4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['remus_joint_a4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="remus_joint_a5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['remus_joint_a5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="remus_joint_a6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['remus_joint_a6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
